fw = 100vw
fh = 100vh
primary-font = Raleway
secondary-font = 'Eb Garamond'
medium-font = 'Titillium Web'

// --
    flex(dir = row)
        display : flex;
        flex-direction : dir
    
    absolute( T = unset , L = unset )
        position : absolute;
        top : T
        left : L
    
    relative( T = unset , L = unset )
        position : relative;
        top : T
        left : L
    
    fixed( T = unset , L = unset )
        position : fixed;
        top : T
        left : L

// --